#place_order:disabled {
    opacity:0.5; 
    text-decoration: none !important;
}
.payment_method_tabby_pay_later img, .payment_method_tabby_installments img {
    max-width:20%;
}
.wc_payment_method .info {
    float: right;
}
html[dir=rtl] .wc_payment_method .info {
    float: left;
}
